/* 
Pallette:
Red : #C20F0F
Yellow : #F6AF33


*/

@font-face {
    font-family: 'MontserratR';
    src: url("./../fonts/Montserrat-Regular.ttf")
}

@font-face {
    font-family: 'MontserratB';
    src: url("./../fonts/Montserrat-Bold.ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1.big-title {
    margin: 10vh auto 7vh auto;

    font-family: 'MontserratR';
    font-size: 8vh;
    color: #C20F0F;

    max-width: 90%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.home-image {
    max-width: 80vw;
    max-height: 50vh;
    display: block;
    margin: 2vh auto 2vh auto;
}

.call > p {
    position: absolute;
    width: 100%;
    bottom: 5vh;

    font-size: 30px;
    text-align: center;
    font-family: 'MontserratR';
    color: #C20F0F; 

    z-index: -5;
}

.infos {
    position: absolute;
    width: 90%;
    margin: 2vh 5% 2vh 5%;
    top: 110vh;
}

strong {
    font-family: 'MontserratB';
    color: #F6AF33;
}

p {
    text-align: justify;
    font-size: 17px;
    font-family: 'MontserratR';
}

a {
    color: #C20F0F;
}

main {
    width: 90%;
    margin: 2vh 5% 2vh 5%;
}

.bureau-list {
    list-style: none;

    font-size: 17px;
    font-family: 'MontserratR';
}